* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #a7a7a7;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 0 0;
}

.app {
  width: 70vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
  background: #7e7e7e;
  border: 1px solid #fff;
}

.btn {
  border: none;
  background: mediumslateblue;
  opacity: 0.5;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 20px;
  cursor: pointer;
}

.cyan {
  background: cyan;
  box-shadow: 0 0 0.7em 0 cyan;
  z-index: 100;
}

.orange {
  background: #FFAD00;
  box-shadow: 0 0 0.7em 0 #FFAD00;
  z-index: 100;
}

.blue {
  background: #099FFF;
  box-shadow: 0 0 0.5em 0 #099FFF;
  z-index: 100;
}

.yellow {
  background: #ccff00;
  box-shadow: 0 0 0.5em 0 #ccff00;
  z-index: 100;
}

.green {
  background: #33ff00;
  box-shadow: 0 0 0.5em 0 #33ff00;
  z-index: 100;
}

.red {
  background: #FF0000;
  box-shadow: 0 0 0.5em 0 #FF0000;
  z-index: 100;
}
.magenta {
  background: magenta;
  box-shadow: 0 0 0.5em 0 magenta;
  z-index: 100;
}
